In [2]:
# this data talks about the house and how many  person in every  house and how much  the income in  every house and the value of the house

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("housing.csv")

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

# 1-what is the average of longitude?

In [7]:
df['longitude'].mean()

-119.56970445736432

# 2-what is the average of latitude?

In [8]:
df['latitude'].mean()

35.63186143410853

# 3- what is the longitude the most  repeated ?

In [9]:
df['longitude'].value_counts()

-118.31    162
-118.30    160
-118.29    148
-118.27    144
-118.32    142
          ...
-123.54      1
-115.94      1
-115.99      1
-116.81      1
-123.71      1
Name: longitude, Length: 844, dtype: int64

# what is the maximum of longitude?

In [10]:
df["longitude"].max()

-114.31

# 4- what is the minimum of longitude?

In [11]:
df['longitude'].min()

-124.35

# what is the latitude the most repeated?

In [12]:
df["latitude"].value_counts()

34.06    244
34.05    236
34.08    234
34.07    231
34.04    221
        ...
41.01      1
41.36      1
41.13      1
40.30      1
35.88      1
Name: latitude, Length: 862, dtype: int64

# 5-what is the maximum latitude?

In [13]:
df["latitude"].max()

41.95

# 6-what is the minimumm of latitude?

In [14]:
df["latitude"].min()

32.54

----------------------

# 7-what is  the maximum of total bedrooms?

In [15]:
df["total_bedrooms"].nlargest(5)

9880     6445.0
13139    6210.0
10309    5471.0
8985     5419.0
6057     5290.0
Name: total_bedrooms, dtype: float64

In [16]:
t=df["total_bedrooms"].nlargest(5)

In [17]:
t.to_csv("largest  total bedrooms.csv",index=False)

In [18]:
df["total_bedrooms"].value_counts()

280.0     55
331.0     51
345.0     50
343.0     49
393.0     49
          ..
2961.0     1
1915.0     1
1215.0     1
3298.0     1
1052.0     1
Name: total_bedrooms, Length: 1923, dtype: int64

In [19]:
m=df["total_bedrooms"].value_counts()

In [20]:
m.to_csv("vco total bedrooms.csv",index=False)

In [21]:
df["total_bedrooms"].mean()

537.8705525375618

In [22]:
df["total_bedrooms"].min()

1.0

# there is a big diferent in numbers of bedrooms between mean and the max and min and we deduce from this that theres is a big diferent in a standard of living

--------------------

# i want if  there a relation between total bedrooms and population?

In [23]:
df[["total_bedrooms","population"]].corr()

                total_bedrooms  population
total_bedrooms        1.000000    0.877747
population            0.877747    1.000000

# i found in this question when the households increase the population increase

------------------------------------------------

# i want to  know  how any  times i want to recieve money that  equal   15.0001 if i want  to  buy the maximum home value and mimimum  and average

In [54]:
df["median_income"].max()

15.0001

In [55]:
df["median_house_value"].max()

500001.0

In [56]:
df["median_house_value"].min()

14999.0

In [57]:
df["median_house_value"].mean()

206855.81690891474

In [84]:
x=df= pd.DataFrame({"median_house_value":[500001.0,14999.0,206855.81690891474]})

In [232]:
print(df.div(15.0001))

   median_house_value
0        33333.177779
1          999.926667
2        13790.295859

In [233]:
x.to_csv("house value.csv",index=False)

In [234]:
y=df= pd.DataFrame({"median_house_value":[33333.177779,999.926667,13790.295859]})

In [220]:
print(df.div(12))

   median_house_value
0         2777.764815
1           83.327222
2         1149.191322

In [236]:
y.to_csv(" div house value.csv",index=False)

In [238]:
z=df= pd.DataFrame({"number of years":[2777.764815,83.327222,1149.191322]})

In [240]:
print(df)

   number of years
0      2777.764815
1        83.327222
2      1149.191322

In [241]:
z.to_csv("years .csv",index=False)

# i conclude that  i want recieve a  15.0001 
                                            
# 1-a 33333.177779 times to buy the most  expensive
# 2-a 999.926667 times to buy the middle
# 3-a 13790.295859 times to buy the cheapest

# if i  want  to buy ahouse those values (500001.0-14999.0-206855.81690891474)from  median_income  i  want to saving about 
# 2777.764815 years for max
# 83.327222 years for  min
# 1149.191322 years for average

-------------------------

# how many houe have income greater and smaller than the average?

In [62]:
limit=3.8706710029069766
column_name="median_income"
count = (df[column_name] > limit).sum()
print('Count of values greater than 3.8706710029069766 in median_income : ', count)

Count of values greater than 3.8706710029069766 in median_income :  8636

In [63]:
limit=3.8706710029069766
column_name="median_income"
count = (df[column_name] < limit).sum()
print('Count of values smaller than 3.8706710029069766 in median_income : ', count)

Count of values smaller than 3.8706710029069766 in median_income :  12004

# this mean that the poor people  that there income smaller than 3.8706710029069766 are greater than people than there income greater than 3.8706710029069766

------------------

#  are there a relation between income and population

In [64]:
df[["median_income","population"]].corr()

               median_income  population
median_income       1.000000    0.004834
population          0.004834    1.000000

# there is not a relation between increase population and increase income

-------

In [66]:
df[["total_rooms","median_house_value"]].corr()

                    total_rooms  median_house_value
total_rooms            1.000000            0.134153
median_house_value     0.134153            1.000000

In [67]:
df.corr()

C:\Users\mm748\AppData\Local\Temp\ipykernel_9116\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069608,0.099773,0.055310,-0.015176,-0.045967
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066983,-0.108785,-0.071035,-0.079809,-0.144160
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034,0.105623
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.930380,0.857126,0.918484,0.198050,0.134153
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.099773,-0.108785,-0.296244,0.857126,0.877747,1.000000,0.907222,0.004834,-0.024650
households,0.055310,-0.071035,-0.302916,0.918484,0.979728,0.907222,1.000000,0.013033,0.065843
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007723,0.004834,0.013033,1.000000,0.688075
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049686,-0.024650,0.065843,0.688075,1.000000

In [68]:
df[["median_income","median_house_value"]].corr()

                    median_income  median_house_value
median_income            1.000000            0.688075
median_house_value       0.688075            1.000000

# median income influnce on house value

--------------------------------

In [192]:
df["housing_median_age"].min()

1.0

In [70]:
df["housing_median_age"].mean()

28.639486434108527

In [80]:
df["housing_median_age"].max()

52.0

In [83]:
df["housing_median_age"].value_counts().head(5)

52.0    1273
36.0     862
35.0     824
16.0     771
17.0     698
Name: housing_median_age, dtype: int64

In [84]:
counts = df.groupby(['housing_median_age','longitude']).size().sort_values(ascending=False)
print(counts)

housing_median_age  longitude
52.0                -122.43      59
                    -122.42      51
                    -122.41      51
                    -122.44      50
                    -122.28      41
                                 ..
21.0                -119.24       1
                    -119.27       1
                    -119.29       1
                    -119.35       1
52.0                -116.88       1
Length: 11032, dtype: int64

In [85]:
counts = df.groupby(['housing_median_age','latitude']).size().sort_values(ascending=False)
print(counts)

housing_median_age  latitude
52.0                37.77       76
                    37.80       66
                    37.76       64
                    37.79       54
                    37.78       54
                                ..
20.0                37.39        1
                    37.37        1
                    37.36        1
                    37.31        1
52.0                41.32        1
Length: 10311, dtype: int64

In [87]:
df[df["median_house_value"].max()==df["median_house_value"]]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
89,-122.27,37.80,52.0,249.0,78.0,396.0,85.0,1.2434,500001.0,NEAR BAY
459,-122.25,37.87,52.0,609.0,236.0,1349.0,250.0,1.1696,500001.0,NEAR BAY
493,-122.24,37.86,52.0,1668.0,225.0,517.0,214.0,7.8521,500001.0,NEAR BAY
494,-122.24,37.85,52.0,3726.0,474.0,1366.0,496.0,9.3959,500001.0,NEAR BAY
509,-122.23,37.83,52.0,2990.0,379.0,947.0,361.0,7.8772,500001.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20422,-118.90,34.14,35.0,1503.0,263.0,576.0,216.0,5.1457,500001.0,<1H OCEAN
20426,-118.69,34.18,11.0,1177.0,138.0,415.0,119.0,10.0472,500001.0,<1H OCEAN
20427,-118.80,34.19,4.0,15572.0,2222.0,5495.0,2152.0,8.6499,500001.0,<1H OCEAN
20436,-118.69,34.21,10.0,3663.0,409.0,1179.0,371.0,12.5420,500001.0,<1H OCEAN
20443,-118.85,34.27,50.0,187.0,33.0,130.0,35.0,3.3438,500001.0,<1H OCEAN

# I concluded that the most common age for homes is 52, which is more common between this longitude(122.43,122.42,122.41,122.44)and latitude (37.77,37.80,37.76,37.79)

------------

# what is the most number  repeated in longitude  and  latitude?

In [78]:
df["longitude"].value_counts()

-118.31    162
-118.30    160
-118.29    148
-118.27    144
-118.32    142
          ...
-123.54      1
-115.94      1
-115.99      1
-116.81      1
-123.71      1
Name: longitude, Length: 844, dtype: int64

In [132]:
df.to_csv("H5mme.csv",index=False)

In [75]:
df["longitude"].mode()

0   -118.31
Name: longitude, dtype: float64

In [79]:
df["latitude"].value_counts()

34.06    244
34.05    236
34.08    234
34.07    231
34.04    221
        ...
41.01      1
41.36      1
41.13      1
40.30      1
35.88      1
Name: latitude, Length: 862, dtype: int64

In [77]:
df["latitude"].mode()

0    34.06
Name: latitude, dtype: float64

In [193]:
df.to_csv("mme.csv",index=False)

# I concluded that the area between the lines of longitude and latitude that is more frequent is the area that attracts the most people

-------------------------------

# counts of ocean proximity

In [167]:
df["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

-------------------------------

# what is the sum of population & total bedrooms & total rooms?

In [29]:
df["population"].sum()

29421840.0

In [27]:
df["total_rooms"].sum()

54402150.0

In [28]:
df["total_bedrooms"].sum()

10990309.0